<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">INBOX</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">AQUÍ VA INFORMACIÓN</strong>
    <p>Pagina <a target="_blank" rel="noopener noreferrer" href="https://sites.google.com/cvudes.edu.co/evaluaciondecompetencias/inicio?authuser=0">Pagina Base</a></p>
  </div>
</ion-content>
